################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hotel_frontend/FileContentIndex/03623308-71cc-4604-8fcc-bc365609d3cc.vsidx
/.vs/hotel_frontend/FileContentIndex/4b7ae8c0-7db0-4474-883f-bab7f252dfe1.vsidx
/.vs/hotel_frontend/FileContentIndex/b31cf223-27b0-4b45-808b-b49dc1bbe3d6.vsidx
