<!-- header -->
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<header class="header">

    <div class="logo1">
        <a href="#home"><img src="~/css/image_accomodation/eleganza_scroll.svg" alt=""></a>
    </div>
	
    <div class="logo">
        <a href="#home"><img src="~/css/image_accomodation/eleganza hotel.svg" alt=""></a>
    </div>



    <div class="general">
        <a href="#home">Accommodation</a>
        <a href="#room">Services</a>
        <a href="#gallery">Promotion</a>
    </div>
    <button class="butt">
        <a onclick="window.location.href='https://eleganzahotel.azurewebsites.net/';" class="btn">BOOK NOW</a>
    </button>

</header>

<!-- end -->
<!-- home -->

<section class="home" id="home">
    <div class="scroldown"> </div>

    <div class="swiper-slide slide">
        <img src="~/css/image_accomodation/accommodation cover.png" />
            <div class="welcome-text"> Your Perfect Accommodation Awaits</div>
    </div>
   
</section>

<!-- end -->
<!-- title -->
<!-- end title-->


<div class="title">
    <p>Step into our inviting accommodations, where relaxation and comfort intertwine seamlessly.<br>Take a moment to unwind as you sink into the plush mattress and let the stresses of the day <br>melt away. Close your eyes and savor the peace and serenity of this tranquil space, allowing <br>yourself to fully immerse in the soothing ambiance.</p>
</div>



<!-- services -->

<div onclick="window.location.href='/Accom_detail/Accom_detail'" class="ctn">
    <img class="img" src="~/css/image_accomodation/Double urban.jpeg" alt="" />
</div>


<section class="servs">

    <div class="ourserv2">
        <h2>Double Urban</h2>
    </div>

    <div class="ourserv">
        <p>  2 PEOPLE / 20 M<sup>2</sup></p>
    </div>

    <div class="ourserv1">
        <p>
            Indulge in our plush beds and dream-worthy pillows,
            <br>followed by a tranquil moment in our spacious<br>bathroom with its captivating round mirror. Refresh with <br>a rejuvenating shower, then unwind with drinks at Bar & <br>Champagne before dinner.
        </p>
    </div>
    <button onclick="window.location.href='/Accom_detail/Accom_detail'" class="button">
        BOOK NOW
    </button>

</section>

<!-- end -->
<!-- services 2 -->
<div onclick="window.location.href='/Accom_detail_2/Accom_detail_2'" class="ctn2">
    <img class="img" src="~/css/image_accomodation/Double urban loft.jpeg" alt="" />
</div>


<section class="servs2">

    <div class="os2">
        <h2>Double Urban Loft</h2>
    </div>

    <div class="os">
        <p>  4 PEOPLE / 20 M<sup>2</sup> + TERRACE</p>
    </div>

    <div class="os1">
        <p>
            From our breathtaking terrace, the Marqués de San
            <br>Esteban appears miniature, with cars twinkling like<br>fireflies below, leaving luminous trails. Beyond the <br>rooftops, the sea beckons, tempting us to linger a little<br>longer in this tranquil haven. The allure of the shower<br>and cozy dressing gown can surely wait.
        </p>
    </div>
    <button onclick="window.location.href='/Accom_detail_2/Accom_detail_2'" class="button2">
        BOOK NOW
    </button>

</section>

<!-- end -->
<!-- services3 -->

<div onclick="window.location.href='/Accom_detail_3/Accom_detail_3'" class="ctn">
    <img class="img" src="~/css/image_accomodation/Unique junior suite.jpeg" alt="" />
</div>


<section class="servs">

    <div class="ourserv2">
        <h2>Unique Junior <br> Suite</h2>
    </div>

    <div class="ourserv">
        <p>  2 PEOPLE / 45 M<sup>2</sup> + TERRACE</p>
    </div>

    <div class="ourserv1">
        <p>
            From our breathtaking terrace, the Marqués de San
            <br>Esteban appears miniature, with cars twinkling like<br>fireflies below, leaving luminous trails. Beyond the<br>rooftops, the sea beckons, tempting us to linger a little<br>longer in this tranquil haven. The allure of the shower <br>and cozy dressing gown can surely wait.
        </p>
    </div>
    <button onclick="window.location.href='/Accom_detail_3/Accom_detail_3'" class="button">
        BOOK NOW
    </button>

</section>
<!-- end -->
<!-- services 4 -->
<div onclick="window.location.href='/Accom_detail_4/Accom_detail_4'"  class="ctn4">
    <img class="img" src="~/css/image_accomodation/Unique junior loft suite.jpeg" alt="" />
</div>


<section class="servs4">

    <div class="osr2">
        <h2>Unique Junior <br> Suite Loft</h2>
    </div>

    <div class="osr">
        <p>  4 PEOPLE / 45 M<sup>2</sup> + TERRACE</p>
    </div>

    <div class="osr1">
        <p>
            Today, let's indulge in breakfast without leaving the
            <br>comfort of our bed or this towering haven. Here, in our<br>private kingdom where time stands still, and the gentle<br>sea breeze caresses our faces on the terrace. Below, the<br>city pulses with life, but up here, within the protective <br>embrace of the towers, we're ensconced in a dreamlike <br>sanctuary, shielded from the relentless march of time.
        </p>
    </div>
    <button onclick="window.location.href='/Accom_detail_4/Accom_detail_4'" class="button4">
        BOOK NOW
    </button>

</section>

<!-- end -->


