@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

@font-face {
  font-family: 'HV_Muse';
  src: url('Font/HVMuse-Regular.woff') format('woff'),
      url('Font/HVMuse-Regular.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  
}



@font-face {
  font-family: 'HVMuse';
  src: url('Font/HVMuse-Italic.woff2') format('woff2'),
      url('Font/HVMuse-Italic.woff') format('woff');
  font-weight: lighter;
  font-style: italic;
  font-display: normal;
}
/* footer */
.footer {
  margin-top: 7%;
  background: rgba(26, 26, 26, 1);
  height: 100%; /* thay đổi từ 637px thành 100% */
  position: relative;
}

.contact {
  position: absolute;
  top: 14%;
  left: 40%;
  color: rgba(211, 211, 211, 1);
  font-size: 2.2vw; /* thay đổi từ px thành vw */
  font-weight: 400;
  font-family: "HV_Muse", sans-serif;
}

.phonenumber {
  position: absolute;
  top: 26%; /* tính toán vị trí dựa trên top của .contact */
  left: 41%;
  color: #fff;
  font-size: 3.2vw; /* thay đổi từ px thành vw */
  font-family: 'HV_Muse', sans-serif;
}

.email {
  position: absolute;
  color: white;
  font-size: 1.2vw; /* thay đổi từ px thành vw */
  border-width: 0.2vw; /* thay đổi từ px thành vw */
  top: 42%; /* tính toán vị trí dựa trên top của .phonenumber */
  left: 42%;
  border-style: solid;
  padding-top: 1vw; /* thay đổi từ px thành vw */
  padding-bottom: 1vw;
  padding-left:4vw;
  padding-right: 2vw;
  border-radius: 4vw; /* thay đổi từ px thành vw */
  text-transform: lowercase;
  font-family: 'Open Sans', sans-serif;
}

.khung1 {
  width: 2.5vw; /* thay đổi từ px thành vw */
  height: 2.5vw; /* thay đổi từ px thành vw */
  margin-left: 42.7%;
  margin-bottom: 19.5%;
}

.mail {
  width: 1.8vw; /* thay đổi từ px thành vw */
  height: 1.1vw; /* thay đổi từ px thành vw */
  margin-left: -2.42vw; /* thay đổi từ px thành vw */
  margin-bottom: 20vw;
  margin-top: 17.9%;
}

.address {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.Logo {
  position: absolute;
  top: 70%;
  left: 5%;
  font-size: 1.5vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
}

.mar {
  position: absolute;
  font-size: 1vw; /* thay đổi từ px thành vw */
  top: 70%;
  left: 42%;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.calle {
  position: absolute;
  top:70%;
  right: 5%;
  font-size: 1vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
}

.nocopy {
  position: absolute;
  top:88%;
  left: 5%;
  font-size: 1vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
}

.Logo1 {
  position: absolute;
  top:88%;
  left: 11%;
  font-size: 1vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
  text-transform: lowercase;
  font-weight: 400;
}

.poli {
  position: absolute;
  top:88%;
  left: 76%;
  font-size: 1vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
}

.term {
  position: absolute;
  top:88%;
  right: 5%;
  font-size: 1vw; /* thay đổi từ px thành vw */
  font-family: 'Open Sans', sans-serif;
}


/* end */
 
 /*header*/

 :root{
  --primary:#09537b;
  --secondary:#24b2ce;
  --blackground-color:white;
  
}
/*chỉnh funtion chung*/ 
*{
  margin: 0;
  outline: none; border: none;
  text-decoration: none;
}


html{ /*not touch*/
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  margin: 0;
}

html::-webkit-scrollbar-track{
  background: transparent;
}

html::-webkit-scrollbar-thumb{
  background: var(--primary);
  border-radius: .5rem;
}



.heading{
 
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: bolder;
}

.btn{ /*button book now*/
  position:absolute;
  display:inline-block;
  justify-content: right;
  font-size: 1.7rem;
  cursor: pointer;
 
}

/* header */

/* Thiết lập header */
.header {
  position: fixed; /* Vị trí cố định */
  top: 0;
  left: 0;  
  right: 0; 
  z-index: 1000; /* Độ sâu hiển thị */
  background: white; /* Màu nền */
  box-shadow: var(--box-shadow); /* Đổ bóng */
  display: flex; /* Sắp xếp các thành phần theo hàng ngang */
  justify-content: space-between; /* Căn chỉnh các thành phần theo khoảng cách đều nhau */
  padding: 25px; /* Khoảng cách nội dung và mép */
  align-items: center; /* Căn chỉnh các thành phần theo trục dọc */
border-bottom: 1px solid black;
transition: background-color 0.4s ease-in-out;

}



/* Button "Book now" */
.header .btn {
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid rgba(71, 55, 35, 1);; /* Thêm khung đen 2px */
  padding-top: 12px; /* Thêm padding cho nút */
 padding-bottom: 12px;
 padding-left: 35px;
 padding-right: 35px;
 transition: none;
}


.header .butt .btn:hover{
  background-color:rgba(170, 131, 83, 1);
  border: 1px solid transparent;
}



.header .butt .btn:active{
  background-color:rgba(170, 131, 83, 1);
  
}
.header .butt {
  background: var(--white); /* Màu nền */
  
}

.header.butt .btn{
  border-width: 10px;

}

/* Chữ trong navbar */
.header  a {
  font-size: 17px;
  margin: 0 1rem; /* Khoảng cách giữa các từ */
  position: relative; /* Đặt vị trí tương đối cho gạch chân */
color:rgba(71, 55, 35, 1);
  background-repeat: no-repeat;
font-weight: 400;
}


/* Gạch chân dưới chữ */
.header .general a::after {
  content: ""; 
  position: absolute; /* Đặt vị trí tuyệt đối cho gạch chân */
  bottom: -2px; /* Điều chỉnh vị trí của gạch chân */
  left: 0; /* Đặt gạch chân ở bên trái */
  width: 0; /* Ẩn gạch chân ban đầu */
  height: 2px; /* Chiều cao của gạch chân */
  background-color:rgba(71, 55, 35, 1);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Hiệu ứng chuyển đổi */
}
.header .general{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* Khi hover chữ */
.header .general a:hover::after {
  width: 100%; /* Kéo dài gạch chân khi hover */
  left: 0; /* Đặt lại vị trí ban đầu của gạch chân */
}

/* Khi không hover chữ */
.header a:not(:hover)::after {
  width: 0; /* Thu hẹp gạch chân khi không hover */
  left: 50%; /* Đưa gạch chân về giữa */
  
}

 /*end header*/
    
    .label-container {
      width: 1100px;
      height: 95px;
      margin-top: 90px;
      background-color: rgba(232, 232, 232, 1); /* Màu nền xám */
      padding: 20px; /* Khoảng cách bên trong */
      margin-left: 100px;
      margin-right: 100px;
    }
    
    
    
    .label-container .inner-container .input-group {
      padding: 10px; /* Khoảng cách bên trong */
    }
    
    
    label {
      font-size: 14px;
      margin-left: 30px;
    font-weight: 600;
    }
    
    input {
      font-weight: 600;
      cursor: pointer;
      margin-top: -80px;
        margin-left: 20px; /*chỉnh k/c khung calendar*/
        padding: 10px !important;
       border: none;
        box-sizing: border-box;
        background-color: #fff !important;
        color: #000 !important;
        font-size: 16px !important;
        letter-spacing: 1px;
        position: relative;
        width: 340px; /*độ rộng khung input*/ 
        height: 48px;
    }
    
    input:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid #FFA000 !important;
        outline-width: 0;
    } 
    
    .daterangepicker.openscenter:after {/*chỉnh vị trí mủi nhọn trên calendar*/
       
        right: 320px;
        width: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .daterangepicker {
      background-color: #fff;
      border-radius: 0 !important;
      padding: 0 !important;
    width: 700px;
    margin-left:25px; /*chỉnh nguyên cái khung calendar sang trái*/
    }
    .daterangepicker td.in-range {
        background-color: #ebf4f8;
        border-color: transparent;
      
        border-radius: 0;
    }
    .daterangepicker .drp-calendar{
    max-width: 400px;
    }
    .daterangepicker td.active{
      background-color:rgba(170, 131, 83, 1);
    }
    
    .daterangepicker td.active:hover{
      background-color:rgba(170, 131, 83, 1);
    }
     td.active.in-range.available{
      background-color: rgba(170, 131, 83, 1);
    }
    
    td.in-range.available{
      background-color: rgba(229, 217, 202, 1);
    }
    
    .invalid-date {
      position: relative;
      color: red;
  }
  .invalid-date:after {
      content: 'X';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: red;
  }
    
    .daterangepicker .calendar-table td {
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        min-width: 32px;
        width: 32px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
        white-space: nowrap;
        cursor: pointer;
        border-radius: 0px;
    }
    /*Weekday Heading*/
    thead tr:nth-child(2) {
      color: #BDBDBD !important;
    }
    body{
      margin: 0px;
    }
    tbody tr td {
      padding: 5px 7px !important;
    }
    
    .month {
      font-size: 16px !important;
      padding-bottom: 10px !important;
      padding-top: 10px !important;
    
    }
    
    .start-date, .end-date {
      border-radius: 0px !important;
    }
    
    .available:hover {
      border-radius: 0px !important;
    }
    
    .off {
      color: #EEEEEE !important;
    }
    
    .off:hover {
      background-color: #EEEEEE !important;
      color: #fff !important;
    }
    
    .drp-buttons {
      display: none !important;
    }
    .daterangepicker .calendar-table th{
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        min-width: 32px;
        width: 32px;
        height: 24px;
        line-height: 24px;
        font-size: 12px;
       border: none;
        white-space: nowrap;
         cursor: pointer; 
    }
    th.prev.available,
    th.next.available{
      border: 1px solid rgba(170, 131, 83, 1);
    }
    
    
    th.next.available:hover{
      background-color: rgba(170, 131, 83, 1);
    }
    th.prev.available:hover{
      background-color: rgba(170, 131, 83, 1);
    }
    
    .daterangepicker .calendar-table .next:hover span {
        border-color: white; /* Đổi màu border của span */
    }
    
    .daterangepicker .calendar-table .prev:hover span {
        border-color: white; /* Đổi màu border của span */
    }
    
    .daterangepicker .calendar-table .prev span,
    .daterangepicker .calendar-table .next span {
        color: #fff;
        border: solid rgba(170, 131, 83, 1);
        border-width: 0 2px 2px 0;
        border-radius: 0;
        display: inline-block;
        padding: 3px;
    }
    .input-group.input-daterange{
      padding-right: 10px;
    }
    /*drop down*/ 
    .dropdown {
                position: relative;
                display: inline-block;
              margin-top: 5px;
            }
    
            
            .dropbtn {
              height: 48px;
              all: unset;
            background-color: white;
            color: black;
            width: 340px;
            padding: 15px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: transform 0.4s; /* Thêm transition để hiệu ứng xoay mượt mà hơn */
            }
    
            /*test_drop*/
            .dropbtn::after {
            content: "";
            width: 6px;
            height: 6px;
            border-width: 0 3px 3px 0;
            border-style: solid;
            transform: rotate(45deg);
            transition: transform 0.4s; /* Thêm transition để hiệu ứng xoay mượt mà hơn */
        }

        .dropbtn.rotate::after { /* Thêm lớp rotate khi button đã được nhấn */
            transform: rotate(225deg);
        }

        .dropbtn:focus ~ .list {
            height: 160px;
        }


        /*end toggle */
            .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: white;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    margin-top: 10px;
                    width: 360px;
                }
    
            .dropdown-content a {
              
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                margin-left: 5px;
                margin-right: 20px;
       
            }
    
            .dropdown-content a:hover {
                background-color: rgba(229, 217, 202, 1);
                margin-left: 5px;
                margin-right: 20px;
            }
    
            .dropdown-content a:active{
              background-color: rgba(170, 131, 83, 1);
              color: white;
            }
    
            .dropdown-content {
                max-height: 150px;
                overflow-y: scroll; 
                
            }
    
            .dropdown:hover .dropdown-content {
        display: none; /* Thay đổi từ "block" sang "none" */
    }
    
    .input-group.input-daterange{
    width: 100px;
    }
    .input[type="text"],
    .dropdown {
        position: relative;
    }
    
    .dropdown {
        margin-left: 10px; /* Điều chỉnh khoảng cách với input */
    }
    
    .text_calen{
      margin-top: 10px;
    }
    .thien {
        background-color: black;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        height: 48px;
        width: 164px;
        text-align: center;
        margin-left: 24.53px;
    }
    
    .thien:hover{
      background-color: rgba(170, 131, 83, 1);
      color: white;
    }
    .text_calen2{
    margin-left: 280px;
    font-weight: 600;
    font-size: 14px;
    }
    .regret{
      text-align: center;
      margin-top: 73.49px;
      font-size: 14px;
      font-weight: 400;
     display:none;
    }
    
    
    /*progress line*/
    
    .line-container { 
            margin-top: 25vh;
            display: flex;
            width: 55%;
      margin-left: 300px;
    
        }
      
        .progress-line {
            position: relative;
            margin: 0 auto;
            border-radius: 10px;
            width: 100%;
            background: grey;
            height: 5px;
            z-index: -1;
            display: flex;
            justify-content: space-between;
        }
        
        .status {
            position: relative;
            top: -9.5px;
        }
        
        .dot {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: white;
            border: 1.5px solid grey;
            cursor: pointer;
            position: relative;
        }
        
        .dot.current {
            background: white;
            border: 1px solid black;
        }
        
        .dot.completed {
            background: black;
            border: 1.5px solid black;
            position: relative;
        }
        
        .dot.completed span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 2;
            color: white; /* Màu chữ trắng */
            font-size: 16px; /* Kích thước chữ */
        }
    
        .dot span {
            display: block;
            width: 100%;
            margin-left: 8px;
            margin-top: 2px;
        }
    
        .dot:nth-child(2),
        .dot:nth-child(3) {
            background: grey;
            border: 5px solid grey;
        }
    
        .dot:nth-child(2) span,
        .dot:nth-child(3) span {
            font-size: 14px; /* Điều chỉnh kích thước chữ */
        }
    
        .progress {
            position: absolute;
            width: 0%; /* Thay đổi độ dài thanh tiến trình tại đây */
            height: 100%;
            background: black;
           
        }
    
        .dot_3{
            width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        border: 1.5px solid grey;
        cursor: pointer;
        position: relative;
        margin-left: 60px;
        }
        .dot_3 .dot_3_1{
            display: block;
        width: 100%;
        margin-left: 8px;
        margin-top: 2px;
        }
    
        .dot_2{
            width: 24px;
        height: 24px;
        border-radius: 50%;
        background: white;
        border: 1.5px solid grey;
        cursor: pointer;
        position: relative;
        margin-left: 70px;
        }
        .dot_2 .dot_2_1{
            display: block;
        width: 100%;
        margin-left: 8px;
        margin-top: 2px;
        }
    
        .daterangepicker .calendar-table .today.available {
    position: relative;
    overflow: hidden;
}

.daterangepicker .calendar-table .today.available:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    
}

/*xóa ngày kế tiếp của tháng bản bên trái*/
.drp-calendar.right td.off.ends.available{
color: white !important;
}

.drp-calendar td.off.ends.available{
  color: rgba(184, 184, 184, 1) !important;
  }

  /*xóa ngày kế tiếp của tháng bản bên trái*/
  .drp-calendar.left td.off.ends.in-range.available {
    color: white !important;
}

.drp-calendar.left td.off.ends.in-range.available:hover {
  display: none;
}



/*personal form*/

.personal_detail {
  border: 1px solid rgba(0, 0, 0, 0.2); /* Sử dụng màu viền chung */
  margin-bottom: 20px;
  

  font-family: 'Open Sans', sans-serif; /* Sử dụng font chung */
  background-color: var(--blackground-color); /* Sử dụng biến màu nền */
  padding: 20px;
  border: 1px solid var(--primary); /* Sử dụng biến màu chính */
  box-shadow: var(--box-shadow); /* Sử dụng biến shadow */
 height: 680px;
  max-width: 867px;
  margin: 100px auto 300px auto;
}

h2 {
  margin-top: 0;
  font-size: 24px; /* Thay đổi kích thước phù hợp */
  font-weight: 600;
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.form-group {
  margin-bottom: 15px;
}

.form-row {
  display: flex;
  gap: 20px;
}

.form-group label {
  display: block;
  margin-bottom: -5px;
  margin-left:10px;
}
.label{
  
font-size: 14px;
font-weight: 600;
}
.form-group .first_name{
  width: 397px;
  margin-left: 10px;
}

.form-group input,
.form-group select,
.form-group textarea {
  margin: 10px;
  width: 96%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.2); /* Sử dụng màu viền chung */
  border-radius: 1px; /* Bo tròn viền */
}

.form-group input[type="number"] {
  width: auto;
  display: inline-block;
  margin-left: 10px;
}

.additional-services-container {
  border: 1px solid rgba(0, 0, 0, 0.2); /* Sử dụng màu viền chung */
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.additional-services {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.additional-services label {
  margin-right: auto;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: red;
  display: none;
}

@media (max-width: 600px) {
  .form-row {
      flex-direction: column;
  }
}



.personal_detail .form-group,
.personal_detail .form-row {
  margin-bottom: 3px;
}

.underline {
  width: calc(96%);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.2); /* Sử dụng màu viền chung */
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 12px;
}

/*phone number*/


.select-box {
  position: relative;
  width: 26rem;
  margin: 7rem auto;
}

.select-box input {
  width: 100%;
  padding: 1rem .6rem;
  font-size: 1.1rem;
  border: .1rem solid transparent;
  outline: none;
}

input[type="tel"] {
  margin-top:0px;
  margin-left: -8px;
  border:1px solid rgba(0, 0, 0, 0.2);
}

.select-box input:focus {
  border: .1rem solid #111; /* var(--primary) */
}

.selected-option {
  margin-top: -170px;
  height: 47px;
  width: 397px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 215px;
}

.selected-option div {
  position: relative;
  width: 6rem;
  padding: 0 2.8rem 0 .5rem;
  text-align: center;
  cursor: pointer;
}

.selected-option div::after {
  position: absolute;
  content: "";
  left: 80px;
  top: 45%;
  transform: translateY(-50%) rotate(45deg);
  width: .4rem;
  height: .4rem;
  border-right: .12rem solid #111; /* var(--primary) */
  border-bottom: .12rem solid #111; /* var(--primary) */
  transition: .2s;
}

.selected-option div.active::after {
  transform: translateY(-50%) rotate(225deg);
}

.select-box .options {
  position: absolute;
  top: 4rem;
  width: 100%;
  background-color: #fff;
  border-radius: .5rem;
  display: none;
}

.select-box .options.active {
  display: block;
}



input.search-box {
  background-color: #111; /* var(--primary) */
  color: #fff;
  border: 1px solid rgba(184, 184, 184, 1);
margin-left: 215px;
width: 397px;
}

.select-box ol {
  list-style: none;
  max-height: 23rem;
  overflow: overlay;
  margin-left: 215px;
  width: 360px;
  border: 1px solid rgba(184, 184, 184, 1);
  background-color: white;
}

.select-box ol::-webkit-scrollbar {
  width: 0.6rem;
}

.select-box ol::-webkit-scrollbar-thumb {
  width: 0.4rem;
  height: 3rem;
  background-color: #ccc;
  border-radius: .4rem;
}

.select-box ol li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-left: -40px;
}

.select-box ol li.hide {
  display: none;
}

.select-box ol li:not(:last-child) {
  border-bottom: .1rem solid #eee;
}

.select-box ol li:hover {
  background-color:rgba(229, 217, 202, 1);
}

.select-box ol li:active {
  background-color:rgba(170, 131, 83, 1);
}

.select-box ol li .country-name {
  margin-left: .4rem;
}


/*drop down*/ 
    .dropdown {
                position: relative;
                display: inline-block;
              margin-top: 5px;
            }
    
            
            .dropbtn {
              height: 48px;
              all: unset;
            background-color: white;
            color: black;
            width: 340px;
            padding: 15px;
            font-weight: 700;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            transition: transform 0.4s; /* Thêm transition để hiệu ứng xoay mượt mà hơn */
            }
    
            /*test_drop*/
            .dropbtn::after {
            content: "";
            width: 6px;
            height: 6px;
            border-width: 0 3px 3px 0;
            border-style: solid;
            transform: rotate(45deg);
            transition: transform 0.4s; /* Thêm transition để hiệu ứng xoay mượt mà hơn */
        }

        .dropbtn.rotate::after { /* Thêm lớp rotate khi button đã được nhấn */
            transform: rotate(225deg);
        }

        .dropbtn:focus ~ .list {
            height: 160px;
        }


        /*end toggle */
            .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: white;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                    margin-top: 10px;
                    width: 360px;
                }
    
            .dropdown-content a {
              
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                margin-left: 5px;
                margin-right: 20px;
       
            }
    
            .dropdown-content a:hover {
                background-color: rgba(229, 217, 202, 1);
                margin-left: 5px;
                margin-right: 20px;
            }
    
            .dropdown-content a:active{
              background-color: rgba(170, 131, 83, 1);
              color: white;
            }
    
            .dropdown-content {
                max-height: 150px;
                overflow-y: scroll; 
                
            }
    
            .dropdown:hover .dropdown-content {
        display: none; /* Thay đổi từ "block" sang "none" */
    }

    /* css các rooms */

    
    .container {
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      padding: 20px; /*bỏ đi là mất khung ngoài*/
     width:900px;
  }

  .card {
      width: 850px;
      height: 300px;
      border: 1px solid rgba(150, 150, 150, 1);
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      background-color: #ffffff;
      padding: 20px;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      position: relative;
  }

  .image-slider {
      position: relative;
      width: 310px;
      height: 205px;
      overflow: hidden;
  }

  .image-slider img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 100%;
      opacity: 0;
      transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .image-slider img.active {
      left: 0;
      opacity: 1;
  }

  .image-slider img.prev {
      left: -100%;
  }

  .image-slider .prev, .image-slider .next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
  }

  .image-slider .prev {
      left: 0;
  }

  .image-slider .next {
      right: 0;
  }

  .text-content {
      flex: 1;
  }

  .text-content h2 {
      font-size: 22px;
      font-weight: 600;
      margin: 0 0 10px;
  }

  .flexible {
      margin-top: 67px;
      margin-left: -330px;
      font-size: 17px;
  }

  .free_breakfast {
      margin-top: 4px;
      margin-left: -330px;
      font-size: 17px;
  }

  .text-content hr {
      border: 1px solid #ddd;
      margin: 82px -150px -40px -350px;
  }

  .dollar {
      font-size: 18px;
      font-weight: 600;
      margin-top: -25px;
      margin-left: 280px;
  }

  .reserve-btn {
      width: 108px;
      height: 48px;
      background-color: rgba(170, 131, 83, 1);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      right: -100px;
      margin-top: 255px;
  }

  .reserve-btn:active {
      background-color: rgba(121, 93, 59, 1);
  }

  @media (max-width: 768px) {
      .card {
          flex-direction: column;
          align-items: center;
      }

      .image-slider {
          width: 100%;
          height: auto;
      }

      .text-content {
          text-align: center;
      }
  }

  .popup {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
  }

  .popup-content {
      background: white;
      width: 80%;
      max-width: 724px;
      overflow-y: scroll;
      height: 550px;
  }

  .popup-header {
      background-color: black;
      color: white;
      height: 62.3px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  .popup-header .title {
      font-size: 18px;
  }

  .popup-header .close-btn {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      font-size: 24px;
      color: white;
      cursor: pointer;
  }

  .popup-image-slider {
      position: relative;
      width: 97%;
      height: 100%;
      max-height: 400px;
      overflow: hidden;
      margin-bottom: 20px;
     margin-left: 12px;
      margin-top: 12px;
     
  }

  .popup-image-slider img {
      width: 100%;
      height: 100%;
      display: none;
      transition: opacity 0.35s ease-in-out;
  }

  .popup-image-slider img.active {
      display: block;
      opacity: 1;
  }

  .popup-image-slider img.prev {
      display: block;
      opacity: 0;
  }

  .popup-image-slider .prev, .popup-image-slider .next {
      position: absolute;
      top: 50%;
      font-size: 28px;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      cursor: pointer;
  }


  .popup-image-slider .next {
      right: 0px;
      
  }

  .feature-columns {
display: flex;
justify-content: space-between;
}
.popup-text-content h2{
margin-left: 320px;
}
.feature-columns ul {
color: rgba(102, 102, 102, 1);
list-style: none;
padding-left: 26px;
padding-right: 18px;
}

.feature-columns li {
position: relative;
margin-bottom: 10px;
}

.bullet {
position: absolute;
left: -5%;
top: 50%;
transform: translateY(-50%);
width: 4px;
height: 4px;
background-color: gray;
border-radius: 50%;
}


  .bed_icon {
      margin-left: 12px;
  }

  .aircon-icon {
display: inline-block;
width: 20px;
height: 10px;
border: 1px solid grey;
border-radius: 2px;
position: relative;
margin-left: 8px;
vertical-align: middle;
margin-top: -4px;
margin-left: 12px;
}

.aircon-icon::before {
content: "";
position: absolute;
width: 60%;
height: 40%;
top: 80%;
left: 50%;
transform: translate(-50%, -50%);
border: 1px solid grey;
border-radius: 2px;
}

.aircon-icon::after {
content: "";
position: absolute;
width: 4px;
height: 2px;
top: 20%;
left: 75%;
transform: translate(-50%, -50%);
background-color:gray;
border-radius: 1px;
}

.see-more {
    color: rgba(20, 83, 207, 1);
    font-size: 17px;
    font-weight: 400;
    text-decoration: underline;
}

.detail{
font-size: 16px;
font-weight: 400;
}

.warning{
color: blue;

}
.tooltip-text {
display: none;
position: absolute;
width: 357px; /* Độ rộng của tooltip */
height: 160px;
background-color: white;
color: black;
border: 1px solid gray;
padding: 10px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 14px;
margin-top: -225px;
margin-left: -168px;
}

.tooltip-text::before {

margin-left: -150px;
content: '';
position: absolute;
bottom: -10px; /* Điều chỉnh vị trí của mũi tên so với phần dưới của tooltip */
left: 50%;
transform: translateX(-50%);
border: 1px solid black;
border-width: 10px 10px 0; /* Định dạng kích thước của mũi tên */
border-color: white transparent transparent transparent; /* Màu sắc của mũi tên */
}
/*form thanh toán*/



.booking-summary {
display: none;
     width: 300px;
      height: 390px;
      background-color: white;
      border: 1px solid #ccc;
      padding: 20px;
    margin: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .booking-summary h3 {
      margin: 0;
      font-size: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .booking-summary h3 span {
      font-weight: normal;
      font-size: 14px;
  }
  .booking-summary hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 20px 0;
  }
  .booking-summary .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
  }
  .booking-summary .description {
      flex: 1;
      font-weight: 600;
  }
  .booking-summary .description1 {
      flex: 1;
      font-weight: 400;
  }
  .booking-summary .description small {
      flex: 1;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
  }
  .booking-summary .price {
      flex-shrink: 0;
      margin-left: 10px;
  }
  .booking-summary .icon {
      flex-shrink: 0;
      margin-left: 10px;
      cursor: pointer;
  }
  .booking-summary .price-wrapper {
      text-align: right;
  }
  .booking-summary .total {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      margin-top: 15px;
  }
  .booking-summary .book-button {
      display: block;
      height: 28px;
      padding-top: 12px;
      background-color: #a37e4c;
      color: white;
      text-align: center;
      text-decoration: none;
      justify-content: center;
      margin-top: 30px;
  }
  .booking-summary .book-button:active {
   background-color:    rgba(121, 93, 59, 1);
  }

  .parent {
display: flex;
}

.form {
display: none;
     width: 300px;
      height: 100px;
      background-color: white;
      border: 1px solid #ccc;
      padding: 20px;
    margin: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#no-rooms-selected {
display: block;
text-align: center;
}

#booking-summary {
display: none;
}

button[disabled] {
display: block;
      height: 32px;
      padding-top: 6px;
      padding-bottom: 12px;
  width: 300px;
      text-align: center;
      text-decoration: none;
      justify-content: center;
      margin-top: 30px;
background-color: #ccc;
cursor: not-allowed;
border: none;
}
    