
<head>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	<link href="~/css/bookpage.css" rel="stylesheet" />

</head>


<header class="header">
    <div class="logo">
        <a href="#home"><img src="~/css/image_accomodation/eleganza_scroll.svg" alt=""></a>
    </div>

    <div class="general">
        <a href="#home">Accommodation</a>
        <a href="#room">Services</a>
        <a href="#gallery">Promotion</a>
    </div>
    <button class="butt">
        <a onclick="window.location.href='/Search_room/Search_room'" class="btn">BOOK NOW</a>
    </button>
</header>
<!-- end -->

<div class='line-container'>
    <div class='progress-line'>
        <div class='progress'></div>
        <div class='status'>
            <div class='dot completed'><span>1</span></div>
            <span style="display: block; text-align:right; margin-left: -30px; margin-top: 3px;">Choose room</span>
        </div>
        <div class='status'>
            <div class='dot_2'><span class="dot_2_1">2</span></div>
            <span style="display: block; text-align: center; margin-left: 15px; margin-top: 3px;">Fill your personal info</span>
        </div>
        <div class='status'>
            <div class='dot_3'><span class="dot_3_1">3</span></div>
            <span style="display: flex; text-align:right; margin-right: -50px; margin-top: 3px;">Complete Payment</span>
        </div>
    </div>
</div>

<div class="label-container">
    <label class="text_calen">Choose date</label>
    <label class="text_calen2">Choose guest</label>
    <div class="inner-container">
        <div class="input-group">
            <input type="text" name="daterange" readonly maxlength="17" />
            <div class="dropdown">
                <button class="dropbtn" onclick="toggleRotate()">1 guest</button>
                <div class="dropdown-content">
                    <a class="hi" data-value="1">1 guest</a>
                    <a data-value="2">2 guests</a>
                    <a data-value="3">3 guests</a>
                    <a data-value="4">4 guests</a>
                    <a data-value="5">5 guests</a>
                    <a data-value="6">6 guests</a>
                </div>
               
            </div>
            <button class="thien" id="checkButton">Check Availability</button>
        </div>
    </div>
</div>
<!-- end -->

<div class="parent">

    <div class="container">
        <div class="card">
            <div class="image-slider">
                <img src="image/Bar & Champagne.png" alt="Room Image 1" class="active">
                <img src="image/Friend invention.jpeg" alt="Room Image 2">
                <img src="image/Double urban loft.jpeg" alt="Room Image 3">
                <img src="image/Unique junior loft suite.jpeg" alt="Room Image 4">
                <img src="image/Early booking.jpg" alt="Room Image 5">
                <img src="image/Hero banner.png" alt="Room Image 6">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="text-content">
                <h2>Double Urban</h2>
                <p class="second_line">
                <p class="second_line">
                    <img class="people_icon" src="Icon/people_icon.png" alt=""> 2 people
                    <img class="bed_icon" src="Icon/bed_icon.png" alt=""> 1 king bed
                    <span class="aircon-icon"></span> 1 air-conditioner
                </p>

                </p>
                <p class="detail">Relax in our cozy 20-square-meter room with dream-worthy pillows. Refresh in the spacious bathroom with a captivating mirror. Enjoy drinks at Bar & Champagne before dinner.</p>
                <a href="#" class="see-more">See more</a>
                <hr>

                <p class="flexible">
                    Flexible cancellation policy
                    <i class="fa fa-exclamation-circle tooltip-icon" style="font-size:18px; color:rgba(20, 83, 207, 1);cursor: pointer;"></i>
                    <div class="tooltip-text">
                        <b> Cancellation: </b> canceled or modified in 24 hours <br>before check-in, no cancellation fee will be charged. <br>If canceled or modified after 24 hours after check-in, <br>or in case of no-show, the full amount of the <br>reservation must be paid. <br>

                        <b>  Payment: </b> Full payment of the reservation is <br>required.<br>

                        <b> Breakfast:</b> Free breakfast is included.<br>
                        <b> Check-in: </b>Check-in time is 2:00 PM.<br>
                        <b> Check-out: </b>Check-out time is 12:00 PM.
                    </div>
                </p>


                <p class="free_breakfast">Free breakfast<img src="Icon/food.svg" alt=""></p>
                <p class="dollar">$89 / 1 night</p>
            </div>
            <button id="reserve-button" class="reserve-btn">Reserve</button>
        </div>
        <!-- Repeat the above card for other room types 2    -->
        <div class="card">
            <div class="image-slider">
                <img src="image/Bar & Champagne.png" alt="Room Image 1" class="active">
                <img src="image/Friend invention.jpeg" alt="Room Image 2">
                <img src="image/Double urban loft.jpeg" alt="Room Image 3">
                <img src="image/Unique junior loft suite.jpeg" alt="Room Image 4">
                <img src="image/Early booking.jpg" alt="Room Image 5">
                <img src="image/Hero banner.png" alt="Room Image 6">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="text-content">
                <h2>Double Urban Loft</h2>
                <p class="second_line">
                <p class="second_line">
                    <img class="people_icon" src="Icon/people_icon.png" alt=""> 4 people
                    <img class="bed_icon" src="Icon/bed_icon.png" alt=""> 1 king bed
                    <span class="aircon-icon"></span> 1 air-conditioner
                </p>

                </p>
                <p class="detail">In our snug 20-square-meter room with a terrace, Marqués de San Esteban looks small from the rooftop, with cars like fireflies below. The sea peeks over nearby rooftops. Let's stay longer; no rush for the shower and robe.</p>
                <a href="#" class="see-more">See more</a>
                <hr>

                <p class="flexible">
                    Flexible cancellation policy
                    <i class="fa fa-exclamation-circle tooltip-icon" style="font-size:18px; color:rgba(20, 83, 207, 1);cursor: pointer;"></i>
                    <div class="tooltip-text">
                        <b> Cancellation: </b> canceled or modified in 24 hours <br>before check-in, no cancellation fee will be charged. <br>If canceled or modified after 24 hours after check-in, <br>or in case of no-show, the full amount of the <br>reservation must be paid. <br>

                        <b>  Payment: </b> Full payment of the reservation is <br>required.<br>

                        <b> Breakfast:</b> Free breakfast is included.<br>
                        <b> Check-in: </b>Check-in time is 2:00 PM.<br>
                        <b> Check-out: </b>Check-out time is 12:00 PM.
                    </div>
                </p>


                <p class="free_breakfast">Free breakfast<img src="Icon/food.svg" alt=""></p>
                <p class="dollar">$109 / 1 night</p>
            </div>
            <button id="reserve-button" class="reserve-btn">Reserve</button>
        </div>
        <!-- Repeat the above card for other room types -->
        <div class="card">
            <div class="image-slider">
                <img src="image/Bar & Champagne.png" alt="Room Image 1" class="active">
                <img src="image/Friend invention.jpeg" alt="Room Image 2">
                <img src="image/Double urban loft.jpeg" alt="Room Image 3">
                <img src="image/Unique junior loft suite.jpeg" alt="Room Image 4">
                <img src="image/Early booking.jpg" alt="Room Image 5">
                <img src="image/Hero banner.png" alt="Room Image 6">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="text-content">
                <h2>Unique Junior Suite</h2>
                <p class="second_line">
                <p class="second_line">
                    <img class="people_icon" src="Icon/people_icon.png" alt=""> 2 people
                    <img class="bed_icon" src="Icon/bed_icon.png" alt=""> 1 king bed
                    <span class="aircon-icon"></span> 1 air-conditioner
                </p>

                </p>
                <p class="detail">Relax in our cozy 20-square-meter room with dream-worthy pillows. Refresh in the spacious bathroom with a captivating mirror. Enjoy drinks at Bar & Champagne before dinner.</p>
                <a href="#" class="see-more">See more</a>
                <hr>

                <p class="flexible">
                    Flexible cancellation policy
                    <i class="fa fa-exclamation-circle tooltip-icon" style="font-size:18px; color:rgba(20, 83, 207, 1);cursor: pointer;"></i>
                    <div class="tooltip-text">
                        <b> Cancellation: </b> canceled or modified in 24 hours <br>before check-in, no cancellation fee will be charged. <br>If canceled or modified after 24 hours after check-in, <br>or in case of no-show, the full amount of the <br>reservation must be paid. <br>

                        <b>  Payment: </b> Full payment of the reservation is <br>required.<br>

                        <b> Breakfast:</b> Free breakfast is included.<br>
                        <b> Check-in: </b>Check-in time is 2:00 PM.<br>
                        <b> Check-out: </b>Check-out time is 12:00 PM.
                    </div>
                </p>


                <p class="free_breakfast">Free breakfast<img src="Icon/food.svg" alt=""></p>
                <p class="dollar">$109 / 1 night</p>
            </div>
            <button id="reserve-button" class="reserve-btn">Reserve</button>
        </div>
        <!-- Repeat the above card for other room types -->
        <div class="card">
            <div class="image-slider">
                <img src="image/Bar & Champagne.png" alt="Room Image 1" class="active">
                <img src="image/Friend invention.jpeg" alt="Room Image 2">
                <img src="image/Double urban loft.jpeg" alt="Room Image 3">
                <img src="image/Unique junior loft suite.jpeg" alt="Room Image 4">
                <img src="image/Early booking.jpg" alt="Room Image 5">
                <img src="image/Hero banner.png" alt="Room Image 6">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>
            <div class="text-content">
                <h2>Unique Junior Suite Loft</h2>
                <p class="second_line">
                <p class="second_line">
                    <img class="people_icon" src="Icon/people_icon.png" alt=""> 4 people
                    <img class="bed_icon" src="Icon/bed_icon.png" alt=""> 1 king bed
                    <span class="aircon-icon"></span> 1 air-conditioner
                </p>

                </p>
                <p class="detail">Relax in our cozy 20-square-meter room with dream-worthy pillows. Refresh in the spacious bathroom with a captivating mirror. Enjoy drinks at Bar & Champagne before dinner.</p>
                <a href="#" class="see-more">See more</a>
                <hr>

                <p class="flexible">
                    Flexible cancellation policy
                    <i class="fa fa-exclamation-circle tooltip-icon" style="font-size:18px; color:rgba(20, 83, 207, 1);cursor: pointer;"></i>
                    <div class="tooltip-text">
                        <b> Cancellation: </b> canceled or modified in 24 hours <br>before check-in, no cancellation fee will be charged. <br>If canceled or modified after 24 hours after check-in, <br>or in case of no-show, the full amount of the <br>reservation must be paid. <br>

                        <b>  Payment: </b> Full payment of the reservation is <br>required.<br>

                        <b> Breakfast:</b> Free breakfast is included.<br>
                        <b> Check-in: </b>Check-in time is 2:00 PM.<br>
                        <b> Check-out: </b>Check-out time is 12:00 PM.
                    </div>
                </p>


                <p class="free_breakfast">Free breakfast<img src="Icon/food.svg" alt=""></p>
                <p class="dollar">$139 / 1 night</p>
            </div>
            <button class="reserve-btn">Reserve</button>
        </div>
        <!-- Repeat the above card for other room types -->


    </div>
    <div class="popup" id="popup">
        <div class="popup-content">
            <div class="popup-header">
                <span class="title">Double Urban</span>
                <button class="close-btn">&times;</button>
            </div>
            <div class="popup-image-slider">
                <img src="image/Bar & Champagne.png" alt="Room Image 1" class="active">
                <img src="image/Friend invention.jpeg" alt="Room Image 2">
                <img src="image/Double urban loft.jpeg" alt="Room Image 3">
                <img src="image/Unique junior loft suite.jpeg" alt="Room Image 4">
                <img src="image/Early booking.jpg" alt="Room Image 5">
                <img src="image/Hero banner.png" alt="Room Image 6">
                <button class="prev">&#10094;</button>
                <button class="next">&#10095;</button>
            </div>

            <div class="popup-text-content">
                <h2>Feature</h2>
                <div class="feature-columns">
                    <ul>
                        <li><span class="bullet"></span> Furnished terrace</li>
                        <li><span class="bullet"></span> City views</li>
                        <li><span class="bullet"></span> Air conditioning</li>
                        <li><span class="bullet"></span> Soundproofing</li>
                        <li><span class="bullet"></span> Private bathroom</li>
                        <li><span class="bullet"></span> Free WiFi</li>
                        <li><span class="bullet"></span> TV</li>
                        <li><span class="bullet"></span> Telephone</li>
                        <li><span class="bullet"></span> Courtesy Nespresso coffee machine</li>
                    </ul>
                    <ul>
                        <li><span class="bullet"></span> Satellite and cable channels</li>
                        <li><span class="bullet"></span> Safe</li>
                        <li><span class="bullet"></span> Heating</li>
                        <li><span class="bullet"></span> Wardrobe</li>
                        <li><span class="bullet"></span> Shower</li>
                        <li><span class="bullet"></span> Hair drier</li>
                        <li><span class="bullet"></span> Dressing gown</li>
                        <li><span class="bullet"></span> Amenities</li>
                        <li><span class="bullet"></span> Slippers</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <!-- form thanh toán -->

    <div id="no-rooms-selected" class="form">
        <p>There are no rooms selected</p>
        <button id="reserve-button" disabled>Book</button>
    </div>

    <div class="booking-summary">
        <h3>Sat, 4 May - Sunday, 5 May <span>6 nights</span></h3>
        <hr>
        <div class="item">
            <div class="description">
                Double Urban<br>
                <small>1 room, 2 people</small>
            </div>
            <div class="price-wrapper">
                <div class="icon">🗑️</div>
                <div class="price">$534</div>
            </div>
        </div>
        <hr>
        <div class="item">
            <div class="description">
                Double Urban Loft<br>
                <small>1 room, 2 people</small>
            </div>
            <div class="price-wrapper">
                <div class="icon">🗑️</div>
                <div class="price">$654</div>
            </div>
        </div>
        <hr>
        <div class="item">
            <div class="description1">
                10% VAT
            </div>
            <div class="price">$118</div>
        </div>
        <div class="item">
            <div class="description1">
                Service fees
            </div>
            <div class="price">$20</div>
        </div>
        <hr>
        <div class="total">
            <div>Total</div>
            <div>$1326</div>
        </div>
        <a href="#" class="book-button">Book</a>
    </div>

    <!-- end -->


</div>

<style>
    .invalid-date {
        position: relative;
        color: red;
    }

        .invalid-date:after {
            content: 'X';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: red;
        }



</style>

<script src="~/js/bookpage.js"></script>

